


body{
    background-color: black;
}

#portfolio{
    position:absolute;
    top: 0;
    left: 0;
    margin: 10px; 
    font-size: 36px; 
    font-weight: bold;
    color: red; 
}

#software{
    color: #aaa;
    animation: fadeIn 1.5s ease-in;
    text-align: center;
}

#header{
    text-align: right;
    color: #aaa;
}

#name{
    text-align: center;
    color: red;
}

faded-line {
    border: none;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.3);
    margin: 20px 0;
}

faded-line{
    border: none;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.3);
    margin: 20px 0;
}

ul{
    color: white;
}


h1{
    color: red;
    text-align: center;
}


p{
    color: white;
}



#projects{
    text-align: center;
    color: Red;

}


#project{
    color: white;
}


nav ul {
    list-style: none;            
    display: flex;               
    justify-content: flex-end;   
    padding: 20px;              
    margin: 0;
    gap: 30px;                   
  }
  
  nav ul li a {
    text-decoration: none;       
    color: red;                
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: darkred;              
  }



.intro-container {
    display: flex;           
    align-items: center;     
    justify-content: center; 
    gap: 20px;               
  }
  

  .intro-text {
    max-width: 500px;        
    text-align: left;        
  }
  

  .intro-image img {
    border-radius: 50%;      
    width: 250px;            
    height: 250px;           
    object-fit: cover;       
  }
  
  nav ul {
    list-style: none;      
    display: flex;           
    justify-content: flex-end; 
    padding: 20px;           
    margin: 0;
    gap: 30px;               
  }
  
  nav ul li a {
    text-decoration: underline;   
    color: red;             
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: darkred;          
  }
  
    hr.faded-line {
    border: 0;
    border-top: 1px solid #aaa;
    margin: 20px 0;
  }
  
  .contact-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .contact-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .contact-container button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-container button:hover {
    background-color: darkred;
  }

  
  .site-footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
  }
  